body {
  background-color: lightgray;
  display: flex;
  flex-direction: row;
  column-gap: 2em;
  align-content: center;
  justify-content: center;
}

.box {
  border: 1px solid black;
  /* position: absolute; */
  padding: 15px;
  width: 10%;
  text-align: center;
  top: 50%;
}
