body {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.buttons {
  display: flex;
  flex-direction: column;
}

button {
  margin-bottom: 10px;
  width: 10em;
  height: 10em;
}

.header {
  border: 2px solid black;
  width: 20%;
  text-align: center;
}
